*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}

body{
    background: #081b29;
    color:#ededed;
    right: 0px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 7%;
    display: flex;
    justify-content: space-between;
    background: #081b29;
    align-items: center;
    z-index: 100;
}

.active{
    color: #00D4FF;
}

.logo{
    font-size: 1.55rem;
    color: #ededed;
    font-weight: 600;
}

.navbar li{
    display: inline;
    margin-left: 2rem;
}

.navbar a{
    font-size: 1.2rem;
    color: #ededed;
    font-weight: 500;
    transition: .4s;
}

.navbar a:hover,
.navbar a:active {
    color: #00D4FF;
}

section{
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#home,.home-content{
    display: flex;
    align-items: center;

}
#home{
    height: 100vh;
    width: 100%;
    padding: 0 10%;
    background: linear-gradient(342deg, rgba(8,27,41,1) 81%, rgba(0,212,255,1) 100%);
}

.home-content{
    max-width: 650px;
    flex-direction: column;
    justify-content: center;
   
}

.home-content h1:hover {
    transform: scale(0.95);
    color: #00D4FF;
}


.home-content h1{
    font-size: 3.13rem;
    font-weight: 600;
    
}

.home-content h3{
    font-size: 2.2rem;
    font-weight: 500;
   color: #00D4FF;
    
}

.home-content p{
    padding:20px 0 30px;
    font-size: 1.1rem;
    line-height: 30px;
    font-weight: 100;
    text-align: center;
}


.button{
   color:#081b29;
   background:  #00D4FF;
   border: 2px ridge  #00D4FF;
   border-radius: 6px;
   padding: 7px 10%;
   align-self:center; 
   cursor: pointer;
   width: 200px;
}



.home-content button:hover{
    transform: scale(.9);
    background-color:#081b29;
    color: #ededed;
    box-shadow: 2px 3px 7px 7px rgba(255, 255, 255, 0.35) inset;  
}

.home-content-right{
    width: 650px;
}

.social-media{
    margin-left: 35px;
    margin-top: 30px;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.social-media li{
    justify-content: center;
    padding: 5%;
}

.fa-brands{

    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 1rem;
    color: #ededed;
    background-color: #081b29;
    cursor: pointer;
}

.fa-brands:hover
{
    transform: scale(0.9);
    box-shadow: 2px 3px 7px 7px rgba(0, 212, 255, 0.35) inset;  
    color:  #00D4FF;
}

hr{
    width: 100%;
}



/* -------------Timeline Styling----------------*/

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

#timeline{
    height: 180vh;
    width: 100%;
    display: flex;
    
    justify-content: center;
    background: linear-gradient(71deg, rgba(0,212,255,1) 0%, rgba(8,27,41,1) 0%, rgba(8,27,41,1) 89%, rgba(0,212,255,1) 100%);
    
}

.title{
    text-align: center;
    padding: 2rem;
  
    
}

.title h1{
    font-size: 2rem;
}
.title p{
    font-size: 1.3rem;
    color:  #00D4FF;
}

.timeline-container{
    padding: 2rem;
    margin: 2rem auto;

    
    
}

.timeline-container h1{
    font-size: 2rem;
}

.timeline-container h2{
   font-weight: 600;
}

.timeline-container h3{
    font-weight: 500;
}

.timeline-container li{
    font-size: 1.1rem;
    margin: 10px 0px 0px 0px;
    list-style:circle;
}

.checkpoint{
    max-width: 35rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}


.checkpoint div{
    border: 2px solid #ededed;
    border-radius: 1rem;
    padding: 1.5rem;
    font-weight: 100;
    box-shadow: 0px 0px 10px 5px rgba(0, 255, 255, 0.35) ;
}

.checkpoint div:hover{ 
    border: 2px solid  #00D4FF;
    transform: scale(0.9);
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #ededed;
    padding-left: 3rem;
    transform: translate(17rem);
    left: 13.6px;
    
}

.checkpoint:nth-child(even){
    border-right: 3px solid #ededed;
    padding-right: 3rem;
    transform: translate(-17rem);
}


.checkpoint:nth-child(even)::before,
.checkpoint:nth-child(odd)::before{
    content: '';
    background: #ededed;
    width: 3rem;
    height: 3px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left:0;
}

.checkpoint:nth-child(even)::before{
    right: 0;
}

.skills h1{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Content Styling */
#about {
    background: linear-gradient(126deg, rgba(8,27,41,1) 31%, rgba(8,27,41,1) 63%, rgba(0,212,255,1) 70%);
    display: flex;
    justify-content: left; 
}

.about-container{
    max-width: 1300px;
    margin: 0 10px; 
    gap: 10x;
    margin-left: 250px;
    display: flex;
    
    
}


.about-content-left{
    max-width: 650px;
    padding: 20px 20px;
    line-height: 2rem;
    align-self: center;
 

}

.about-content-left h1{
    font-weight: 600;
    text-align: center;
}

.about-content-left h3{
    font-weight: 100;
    padding: 5px 0;
    color: #00D4FF;
    text-align: center;
}

.about-content-left p {
    text-align: center;
    padding: 0.9rem;
    font-weight: 500;
    line-height: 2.5rem;  
    
}

.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.about-img img{
    height: 500px;
    width: 300px;
    border-radius: 50%;
    justify-content: end;
    align-items: end;
    
}

.about-img img:hover{
    transform: scale(0.9);
    
   
}

/* Contact Styling */
#contact{

    background: linear-gradient(180deg, rgba(8,27,41,1) 31%, rgba(8,27,41,1) 73%, rgba(0,212,255,1) 97%);

}
.contact-container{
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

.contact-container form{
    height: 400px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    flex-wrap: wrap;
    
}

.contact-container form h1{
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
}

.contact-container form input{
    height: 40px;     
    outline: none;
    border: none;
    margin-bottom: 10px;
    border-radius: 7px;
    color: white;
    background: none;
    border-bottom: 2px solid #00D4FF;
}

#submitButton{
    background-color: #00D4FF;
    width: 100px;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    border: none;
}

#submitButton:hover{
    opacity: 0.7;
}

.contact-container form input::placeholder{
    color: white;
}

.contact-container form textarea{
    height: 70px;
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 10px;
}


/* Responsive Design - Mobile - 520px - Updated via GITHUB*/
@media screen and (max-width: 520px) {

    
    section{
        height: 100%;
        width: 100vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    .home-content p{
        width: 50vw;
    }

    hr{
        width: 80%;
    }

    /* Timeline */ 

    #timeline{
        width: 100%;
    }
    .checkpoint:nth-child(odd){
        border-left: 0px solid #ededed;
        padding-left: 0rem;
        transform: translate(0rem);
        left: 0px;
        
    }
    
    .checkpoint:nth-child(even){
        border-right: 0px solid #ededed;
        padding-right: 0rem;
        transform: translate(0rem);
    }
    
    
    .checkpoint:nth-child(even)::before,
    .checkpoint:nth-child(odd)::before{
        content: '';
        background: #ededed;
        width: 0rem;
        height: 0px;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    
    .checkpoint:nth-child(odd)::before{
        left:0;
    }
    
    .checkpoint:nth-child(even)::before{
        right: 0;
    }


        /*About*/
   
    #about{
        width: 100%;
    }
    .about-container{
        max-width: 100%;
        margin: 0 10px; 
        flex-direction: column;
    }

    #about hr {
       width: 100%;
    }

    /*Contact */
    
    .contact-container{
        max-width: 100vw;
        max-height: 100vh;
        
    }
    
    .contact-container form{
        height: 100vh;
        width: 100%;
    }
    
    .contact-container form textarea{ 
        width: 450px;
    }
   
}
